body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.error {
  color : red;
  font-size: larger;
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid;
  border-color: red;
}

.notification {
  color : green;
  font-size: larger;
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid;
  border-color: green;
}